.App {
  text-align: center;
}

body {
  background-color: #FFDAAF;
}

img {
  border-radius: 50%;
  width: 175px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.gallery-item {
  padding-bottom: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}