.App {
  text-align: center;
}

body {
  background-color: #FFDAAF;
  font-family: "Ubuntu", sans-serif;
}

img {
  border-radius: 50%;
  width: 175px;
}

.detail-img {
  margin-top: 4rem;
  border-radius: 12px;
  width: 300px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.error-message {
  margin-top: 3rem;
  color: red;
  font-size: 3rem;
}

