.App {
  text-align: center;
}

body {
  background-color: #FFDAAF;
  font-family: "Ubuntu", sans-serif;
}

img {
  border-radius: 50%;
  width: 175px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

